.content{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project-list{
    width: 20%;
    padding: 10px;
    background-color: #f0f0f0;
    border-right: 1px solid #ccc;
}

.title-list{
    text-align: center;
}

.gantt{
    width: 80%;
    padding: 10px;
    background-color: #fff;
}

.btn{
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px;
    width: 220px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover{
    background-color: #0056b3;
}

.projects{
    margin: 10px 0;
    padding: 10px;
    width: 92%;
    height: 70%;
    max-height: 70%;
    overflow-y: scroll;
    background-color: white;
}
.add{
    padding: 10px;
    width: 100%;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.update{
    padding: 10px;
    width: 100%;
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px;
}
.title-project{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}
.label{
    font-size: 15px;
}
.input{
    width: 140px;
    padding: 5px;
    margin-right: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.btn-update{
    padding: 10px;
    margin-top: 10px;
    margin-left: 587px;
    width: 200px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn-update:hover{
    background-color: #0056b3;
}
