{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/jeu.css') }}">
{% endblock %}

{% block content %}
<meta id="nombre_mystere" name="{{ session['nombre'] }}" />
<div id="jeu">
<h1>Jeu du nombre mystère</h1>
    <p> J'ai choisis un entier entre 0 et 100.</p>

    <p>
        <label for="nombre">Devine le nombre ?</label>
        <input type="number" name="nombre" id="nombre" min="0" max="100" required>
    </p>

    <p>
        <button id="btn" class="btn" type="submit">Valider</button>
    </p>

    <hr>

    <p id="text_resultat"></p>
    <a id="btn_retry" style="display: none" href="{{ url_for('jeu') }}"><button>Recommencer</button></a>
</div>

<script src="{{ url_for('static', filename='javascript/nombre_mystere.js') }}"></script>
{% endblock %}

